<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.groo.bookshelf.dao.IBookScrapRepository">

<resultMap id="bookScrapMap" type="com.kcc.groo.bookshelf.data.model.BookScrap">
        <id property="ISBN" column="ISBN"/>
        <id property="bookshelfId" column="bookshelf_id"/>
        <result property="userId" column="user_id"/>
        <result property="createdAt" column="created_at"/>
</resultMap>

<insert id="createBookScrap" parameterType="com.kcc.groo.bookshelf.data.model.BookScrap">
<![CDATA[
INSERT INTO book (bookshelf_id, ISBN, user_id) VALUES (#{bookshelfId},#{ISBN}, #{userId})
]]>
</insert>

<delete id="deleteBookScrap">
<![CDATA[
DELETE FROM book WHERE user_id=#{userId} AND ISBN=#{ISBN}
]]>
</delete>

<select id="selectBookScrap" resultMap="bookScrapMap">
<![CDATA[
SELECT * FROM book WHERE ISBN=#{ISBN} AND user_id = #{userId}
]]>
</select>

<select id="BookScrapList" resultMap="bookScrapMap">
<![CDATA[
SELECT * FROM book WHERE bookshelf_id=#{bookshelfId} AND user_id = #{userId}
]]>
</select>

<select id="checkExistsBookByUserIdAndbookshelfId" resultType="int">
<![CDATA[
	SELECT count(ISBN) from book WHERE user_id=#{userId} AND bookshelf_id=#{bookshelfId} AND ISBN = #{ISBN}
]]>
</select>

<select id="countBookScrap" resultType="int">
<![CDATA[
	SELECT count(*) FROM book WHERE bookshelf_id=#{bookshelfId} AND user_id=#{userId}
]]>
</select>

<delete id="deleteBooksByIsbnList" parameterType="map">
	DELETE FROM book
    WHERE user_id = #{userId}
      AND bookshelf_id = #{bookshelfId}
      AND ISBN IN
      <foreach item="isbn" collection="isbnList" open="(" separator="," close=")">
          #{isbn}
      </foreach>
</delete>


<select id="countTotalBookScrapByUserId" parameterType="String" resultType="int">
    SELECT count(b.ISBN)
    FROM book b
    JOIN bookshelf bs ON b.bookshelf_id = bs.bookshelf_id
    WHERE bs.user_id = #{userId}
</select>

</mapper>
