<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.groo.search.dao.ISearchRepository">
	<resultMap id="searchIndexMap"
		type="com.kcc.groo.search.data.model.SearchIndex">
		<id property="id" column="id" />
		<result property="refType" column="ref_type"
			javaType="com.kcc.groo.search.data.model.RefType" />
		<result property="refId" column="ref_id" />
		<result property="title" column="title" />
		<result property="subtext" column="subtext" />
		<result property="content" column="content" />
		<result property="createdAt" column="created_at" />
	</resultMap>

<select id="searchAllByFullText"
        parameterType="string"
        resultType="com.kcc.groo.search.data.dto.SearchResult">
<![CDATA[
SELECT
            ref_type AS category,
            ref_id AS refId,
            title,
            subtext,
            content,
            MATCH(title, subtext, content)
                AGAINST(#{keyword} IN BOOLEAN MODE) AS score
        FROM search_index
        WHERE MATCH(title, subtext, content)
              AGAINST(#{keyword} IN BOOLEAN MODE)
        ORDER BY score DESC;
]]>
</select>

<select id="searchAllByLike" resultType="com.kcc.groo.search.data.dto.SearchResult">
<![CDATA[
    SELECT
        ref_type AS category,
        ref_id AS refId,
        title,
        subtext,
        content,
        0 AS score
    FROM search_index
    WHERE title LIKE CONCAT('%', #{keyword}, '%')
       OR subtext LIKE CONCAT('%', #{keyword}, '%')
       OR content LIKE CONCAT('%', #{keyword}, '%')
]]>
</select>



<insert id="insertSearchIndex">
<![CDATA[
INSERT INTO search_index (ref_type, ref_id, title, subtext, content, created_at)
VALUES (#{refType}, #{refId}, #{title}, #{subtext}, #{content}, NOW())
]]>
</insert>

<update id="updateUserIndex">
<![CDATA[    UPDATE search_index
    SET title = #{title},
        subtext = #{subtext},
        content = #{content}
    WHERE ref_type = 'USER'
      AND ref_id = #{refId}
      ]]>
</update>

<update id="updateReviewIndex">
<![CDATA[   UPDATE search_index
    SET title = #{title},
        subtext = #{subtext},
        content = #{content}
    WHERE ref_type = 'REVIEW'
      AND ref_id = #{refId}
      ]]>
</update>

<update id="updateCommentIndex">
<![CDATA[    UPDATE search_index
    SET title = #{title},
        subtext = #{subtext},
        content = #{content}
    WHERE ref_type = 'COMMENT'
      AND ref_id = #{refId}
      ]]>
</update>

<delete id="deleteIndex">
<![CDATA[    DELETE FROM search_index
    WHERE ref_type = #{refType}
      AND ref_id = #{refId}
      ]]>
</delete>

</mapper>
