<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.groo.user.dao.IUsersRepository">

<resultMap id="userMap" type="com.kcc.groo.user.data.model.Users">
<id property="userId" column="user_id"/>
<result property="password" column="password"/>
<result property="email" column="email"/>
<result property="nickname" column="nickname"/>
<result property="profileImage" column="profile_image"/>
<result property="introduction" column="introduction"/>
<result property="gender" column="gender"/>
<result property="name" column="name"/>
<result property="birth" column="birth"/>
<result property="createdAt" column="created_at"/>
<result property="withdrawalStatus" column="withdrawal_status"/>
<result property="withdrawaDate" column="withdrawal_date"/>
<result property="pwdChangedAt" column="pwd_changed_at"/>
<result property="checkPrivacy" column="check_privacy"/>
<result property="checkService" column="check_service"/>
<result property="emailVerified" column="email_verified"/>
</resultMap>

<select id="selectUserByUserId" parameterType="string" resultMap="userMap">
<![CDATA[
SELECT user_id, password, email, nickname, profile_image, introduction, gender, name, birth, created_at,
       withdrawal_status, withdrawal_date, pwd_changed_at, check_privacy, check_service, email_verified
FROM users 
WHERE user_id = #{userId}
]]>
</select>

<insert id="insertUser" parameterType="com.kcc.groo.user.data.model.Users">
<![CDATA[ 
INSERT INTO users (user_id, password, email, nickname, gender, name, birth, check_privacy,check_service, email_verified )
VALUES (#{userId}, #{password}, #{email},#{nickname},#{gender},#{name},#{birth}, #{checkPrivacy}, #{checkService}, #{emailVerified})
]]>
</insert>

<update id="updateEmailVerified">
<![CDATA[ UPDATE users
SET email_verified = #{emailVerified}
WHERE email = #{email} ]]>
</update> 

<select id="selectAllUserId" resultMap="userMap">
<![CDATA[
SELECT user_id FROM users
]]>
</select>

<select id="existsByUserId" parameterType="string" resultType="int">
  <![CDATA[ 
  SELECT COUNT(*) 
    FROM users 
    WHERE user_id = #{userId}
    ]]>
</select>

<select id="existsByUserName" parameterType="string" resultType="int">
  <![CDATA[ 
  SELECT COUNT(*) 
    FROM users 
    WHERE name = #{name}
    ]]>
</select>

<select id="existsByUserEmail" parameterType="string" resultType="int">
  <![CDATA[ 
  SELECT COUNT(*) 
    FROM users 
    WHERE email = #{email}
    ]]>
</select>

<select id="findUserIdByNameAndEmail" resultType="string">
  <![CDATA[ 
  SELECT user_id FROM users WHERE name=#{name} AND email=#{email}
    ]]>
</select>

<update id="resetPassword">
  <![CDATA[ UPDATE users
  SET password = #{password},
      pwd_changed_at = NOW()
  WHERE user_id = #{userId} ]]>
</update>

<update id="updateUser" parameterType="com.kcc.groo.user.data.model.Users">
    UPDATE users
    <set>
        <if test="password != null">password = #{password}, pwd_changed_at = #{pwdChangedAt},</if>
        <if test="nickname != null">nickname = #{nickname},</if>
        <if test="name != null">name = #{name},</if>
        <if test="email != null">email = #{email},</if>
        <if test="profileImage != null">profile_image = #{profileImage},</if>
        <if test="introduction != null">introduction = #{introduction},</if>
        <if test="emailVerified != null">email_verified = #{emailVerified},</if>
    </set>
    WHERE user_id = #{userId}
</update>

<update id="deleteUserProfileImage" parameterType="com.kcc.groo.user.data.model.Users">
UPDATE users SET profile_image = NULL WHERE user_id = #{userId}
</update>

<select id="findAllUserIds" resultType="string">
    <![CDATA[
    SELECT user_id FROM users WHERE withdrawal_status = 0
    ]]>
</select>

<select id="getUserNickName" resultType="string">
<![CDATA[
SELECT nickname FROM users WHERE user_id=#{userId}
]]>
</select>

</mapper>

