<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.groo.user.dao.IUsersRepository">

<resultMap id="userMap" type="com.kcc.groo.user.data.model.Users">
<id property="userId" column="user_id"/>
<id property="password" column="password"/>
<id property="email" column="email"/>
<id property="nickName" column="nickname"/>
<id property="profileImage" column="profile_image"/>
<id property="introduction" column="introduction"/>
<id property="gender" column="gender"/>
<id property="name" column="name"/>
<id property="birth" column="birth"/>
<id property="createdAt" column="created_at"/>
<id property="status" column="status"/>
<id property="withdrawaDate" column="withdrawal_date"/>
<id property="pwd_changedAt" column="pwd_changed_at"/>
<id property="checkPrivacy" column="check_privacy"/>
<id property="checkService" column="check_service"/>
<id property="emailVerified" column="email_Verified"/>
</resultMap>
<!-- select -->
<select id="selectUserByUserId" parameterType="string" resultMap="userMap">
<![CDATA[
SELECT user_id, password, email, nickname, profile_image, introduction, gender, birth, created_at
FROM users WHERE user_id = #{userId}
]]>
</select>

<insert id="insertUser" parameterType="com.kcc.groo.user.data.model.Users">
<![CDATA[ 
INSERT INTO users (user_id, password, email, nickname, gender, name, birth, check_privacy,check_service )
VALUES (#{userId}, #{password}, #{email},#{nickName},#{gender},#{name},#{birth}, #{checkPrivacy}, #{checkService})
]]>
</insert>

<update id="updateEmailVerified">
UPDATE users
SET email_verified = #{emailVerified}
WHERE user_id = #{userId}
</update>

<select id="selectAllUserId" resultMap="userMap">
<![CDATA[
SELECT user_id FROM users
]]>
</select>

<select id="existsByUserId" parameterType="string" resultType="int">
  <![CDATA[ 
  SELECT COUNT(*) 
    FROM users 
    WHERE user_id = #{userId}
    ]]>
</select>

<select id="existsByUserName" parameterType="string" resultType="int">
  <![CDATA[ 
  SELECT COUNT(*) 
    FROM users 
    WHERE name = #{name}
    ]]>
</select>

<select id="existsByUserEmail" parameterType="string" resultType="int">
  <![CDATA[ 
  SELECT COUNT(*) 
    FROM users 
    WHERE email = #{email}
    ]]>
</select>

<select id="findUserIdByNameAndEmail" resultType="string">
  <![CDATA[ 
  SELECT user_id FROM users WHERE name=#{name} AND email=#{email}
    ]]>
</select>

</mapper>

